[project]
	description = If you're a nerd, your resume should be equally nerdy.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Major Hayden (major)
[access "refs/for/refs/*"]
	read = group user/Major Hayden (major)
	push = group user/Major Hayden (major)
	label-Code-Review = -2..+2 group user/Major Hayden (major)
	label-Verified = -1..+1 group user/Major Hayden (major)
	rebase = group user/Major Hayden (major)
	removeReviewer = group user/Major Hayden (major)
	submit = group user/Major Hayden (major)
[access "refs/heads/*"]
	read = group user/Major Hayden (major)
	create = group user/Major Hayden (major)
	push = +force group user/Major Hayden (major)
	pushMerge = group user/Major Hayden (major)
[access "refs/tags/*"]
	push = group user/Major Hayden (major)
	push = +force group user/Major Hayden (major)
